*{
    box-sizing: border-box;
}

:root{
    --accent: #0CA4D6;
    --link-hover: #26C9FF;
    --line: #0CA4D6;
    --background: #042f3a;
    --text: #fff;
    --dark-background: #001A22;
    --content-width: 1200px;
    --divider: rgba(255, 255, 255, 0.1);

    /* if the sidenav's width is going to be set manually,
     * change this value to adjust header's positioning too
     */
    --sidenav-width: 200px;
}

body{
    background-color: var(--dark-background);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow-y: scroll;
}

/* content */
.main{
    margin: auto;
    margin-bottom: 64px;
    padding: 32px;
    background-color: var(--background);
    border-radius: 8px;
    line-height: 1.3;
    max-width: var(--content-width);
}
.main ul{
    list-style-type: disc;
}
.main ul code{
    line-height: 26px;
}
strong{
    font-weight: 800;
}
code{
    font-family: "Inter", sans-serif;
    background: var(--dark-background);
    border-radius: 6px;
    padding: 2px 6px;
    color: var(--accent);
}

/* links */
a{
    color: var(--accent);
    text-decoration: none;
}
a:hover, a:focus, a:active{
    color: var(--link-hover);
    text-decoration: underline;
}

/* spoilerbox */
details > summary{
    cursor: pointer;
    background: var(--dark-background);
    border-radius: 6px;
    padding: 2px 6px;
    width: 80px;
}

/* header and line */
h1{
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--dark-background);
    font-size: 40px;
    line-height: 34px;
    padding-bottom: 12px;
}
h1:first-child{
    margin-top: 0px;
}
h2{
    font-size: 32px;
}
hr{
    color: var(--dark-background);
}

/* table */
table th{
    text-align: start!important;
    padding-bottom: 8px;

    color: var(--accent);
    padding-left: 64px;
}

table{
    border-spacing: 0px;
}

table td {
    border-top: solid 1px var(--divider);
    padding: 8px 0px;

    text-align: start!important;
    padding-left: 64px;
}

table tr:first-child > td {
    border-top: none;
}

table tr > td:first-child, table tr > th:first-child {
    padding-left: 0px;
}

/* header and navigation bar */
.header{
    position: sticky;
    top: 0;
    
}
.navbar{
    margin: 0 auto;
    margin-bottom: 16px;
    font-weight: 700;
    max-width: var(--content-width);
    background-color: var(--background);
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.15);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}
.navbar a{
    float: left;
    display: inline-flex;
    color: var(--accent);
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 200ms ease all;
}
.navbar a:hover{
    background: rgba(0,0,0,0.3);
    color: var(--text);
}

/* Icons */
.icon{
   width: 16px;
   height: 16px;
   margin-right: 8px;
   fill: currentColor;
}

/* sidebar navigation */
.sidenav{
    position: fixed;
    top: 0;
    height: 100vh;
    min-width: var(--tutorial-sidenav-width);
    width: 200px;
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px;
    border-radius: 0 8px 8px 0;
    line-height: 24px;
    float: left;
}
.sidenav a{
    text-decoration: none;
    color: var(--accent);
    display: block;
}
.sidenav a:hover, .sidenav a:focus, .sidenav a:active {
    color: var(--text);
}
.sidenav h1{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    font-size: 16px;
}

/* @media queries */
@media (max-width: 1600px){
    /* 1600px = sidebar width + max content width */
    body.tutorial_sidenav .main, body.tutorial_sidenav .navbar {
        margin-left: calc(var(--sidenav-width));
    }
}
