:root{
    --link: #0CA4D6;
    --link-hover: #26C9FF;
    --line: #0CA4D6;
    --background: #042f3a;
    --text: white;
    --dark-background: #001A22;
}
.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left:0;
    background-color: var(--background);
    overflow-x: hidden;
    padding: 16px;
    border-radius: 0 8px 8px 0;
    line-height: 24px;
}
.sidenav a{
    text-decoration: none;
    color: var(--link);
    display: block;
}
.sidenav a:hover, .sidenav a:focus, .sidenav a:active{
    color: var(--text);
}
.sidenav h1{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 16px;
    font-size: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
}