/* sidebar navigation */
.sidenav {
    position: fixed;
    top: 0;
    height: 100vh;
    min-width: var(--tutorial-sidenav-width);
    width: var(--sidenav-width);
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
    line-height: 24px;
    float: left;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.sidenav a {
    text-decoration: none;
    color: var(--accent);
    display: block;
}
.sidenav a:hover,
.sidenav a:focus,
.sidenav a:active {
    color: var(--text);
}
.sidenav .unfinished {
    color: var(--invalid);
    pointer-events: none;
}
.sidenav h1 {
    margin-top: 24px;
    margin-bottom: 4px;
    padding: 0;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 8px;
}
.sidenav_toggle,
.sidenav_toggle_shadow {
    display: none;
}

.toggle_menu_visible {
    transform: translateX(var(--sidenav-width));
}

@media (max-width: 1200px) {
    .sidenav {
        transform: translateX(calc(-100% - 20px));
        transition: transform 250ms;
    }

    .mobile-visible {
        transform: none;
    }
    .sidenav_toggle {
        display: block;
        background: var(--background);
        border-radius: 0 4px 4px 0;
        position: fixed;
        transition: transform 250ms;
        z-index: 3;
        height: 36px;
    }
    .sidenav_toggle > svg {
        height: 36px;
        padding: 4px;
    }
    .sidenav_toggle_shadow {
        display: block;
        background: var(--background);
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.12);
        position: fixed;
        transition: transform 250ms;
        height: 36px;
        width: 36px;
        z-index: 1;
    }
}