* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $background;
    font-family: "Inter", sans-serif;
    color: $text-colour;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}

main {
    margin: 0px auto;
    width: var(--content-width);
}

a {
    color: $accent-blue;
    text-decoration: none;
    transition: 100ms ease all;
    &:hover {
        color: $accent-yellow;
    }
}