/* staff grid */
.staff-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 24px;
    padding: 0;
}

.staff-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    max-width: calc(var(--content-width) / 6 - 24px);
}

.staff-item > .avatar {
    min-width: calc(var(--content-width) / 6 - 48px);
    min-height: calc(var(--content-width) / 6 - 48px);

    background: var(--divider);
    border-radius: 4px;

    overflow: hidden;
    display: block;
}

.staff-item > .name {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 700;
}

.staff-item > .staff-description {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .staff-item > .avatar {
        width: 64px;
        height: 64px;
    }
    .staff-item {
        max-width: max-content;
        flex-direction: row;
        align-items: center;
    }
    .staff-item > .staff-description {
        margin-left: 8px;
    }
    .staff-grid {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        grid-gap: 8px;
    }
}
