<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{site.title}}</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/tutorial/toc">Tutorial</a></li>
            <li><a href="{{site.baseurl}}/guides/toc">Guides</a></li>
        </ul>
    </nav>
</header>
  {{ content }}
</body>
</html>