---
layout: default
---

<head>
    <link rel="stylesheet" href="{{site.baseurl}}/css/sidenav.css">
</head>
<body>
    <div class="sidenav">
        <a href="{{site.baseurl}}/tutorial/introduction">Introduction</a>
        <a href="{{site.baseurl}}/tutorial/getting_started">Getting Started</a>
        <h1 id="Menus">Menus</h1>
        <a href="{{site.baseurl}}/tutorial/song_selection">Song Selection</a>
        <a href="{{site.baseurl}}/tutorial/ranking_panel">Ranking Panel</a>
        <a href="{{site.baseurl}}/tutorial/mod_icons">Mod Icons</a>
        <a href="{{site.baseurl}}/tutorial/pause-_and_failscreen">Pause- and Failscreen</a>
        <a href="{{site.baseurl}}/tutorial/releasing">Releasing your Skin</a>
    </div>
    {{ content }}
</body>