---
layout: tutorial
body_class: tutorial_sidenav
---

<nav class="sidenav">
	<a href="{{site.baseurl}}/tutorial/introduction">Introduction</a>
	<a href="{{site.baseurl}}/tutorial/getting_started">Getting Started</a>
	<h1 id="Menus">Menus</h1>
	<a href="{{site.baseurl}}/tutorial/song_selection">Song Selection</a>
	<a href="{{site.baseurl}}/tutorial/ranking_panel" class="unfinished">Ranking Panel</a>
	<a href="{{site.baseurl}}/tutorial/mod_icons_and_button" class="unfinished">Mod Icons and Button</a>
	<a href="{{site.baseurl}}/tutorial/pause-_and_failscreen" class="unfinished">Pause- and Failscreen</a>
	<a href="{{site.baseurl}}/tutorial/main_menu">Main Menu</a>
	<h1 id="Gameplay">Gameplay</h1>
	<a href="{{site.baseurl}}/tutorial/cursor" class="unfinished">Cursor</a>
	<a href="{{site.baseurl}}/tutorial/playfield" class="unfinished">Playfield</a>
	<a href="{{site.baseurl}}/tutorial/hitcircle_and_slider" class="unfinished">Hitcircle and Slider</a>
	<a href="{{site.baseurl}}/tutorial/spinner" class="unfinished">Spinner</a>
	<h1 id="Miscellaneous">Miscellaneous</h1>
	<a href="{{site.baseurl}}/tutorial/sounds">Sounds</a>
	<a href="{{site.baseurl}}/tutorial/releasing">Releasing your Skin</a>
	<a href="{{site.baseurl}}/tutorial/animations">Animations</a>
</nav>

<div class="sidenav_toggle">
	<svg viewBox="0 0 20 20" fill="currentColor" style="--darkreader-inline-fill: currentColor"
		data-darkreader-inline-fill="">
		<path fill-rule="evenodd"
			d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
			clip-rule="evenodd"></path>
	</svg>
</div>

<div class="sidenav_toggle_shadow"></div>

<main class="main">{{ content }}</main>

<script>
	const toggleshadow = document.querySelector(".sidenav_toggle_shadow");
	const toggle = document.querySelector(".sidenav_toggle");
	const sidebar = document.querySelector(".sidenav");
	toggle.addEventListener("click", () => {
		sidebar.classList.toggle("mobile-visible");
		toggle.classList.toggle("toggle_menu_visible");
		toggleshadow.classList.toggle("toggle_menu_visible");
	});
</script>